body {
    font-family: "Lato", sans-serif;
}

.sidenav {
    height: 100%;
    width: 15%;
    position: fixed;
    top: 0;
    left: 0;
    /*background-color: #111;*/
    background-color:#d6d7d8;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 20px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
    color: #f1f1f1;
    background-color: red;
}

.body{
  margin-left:15%;
}



