<!DOCTYPE html>
<html>

<head>
    <title>Gerenciamento Produtos</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- bootstrap -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
        crossorigin="anonymous">
    <!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">-->

    <!-- favicon
    <link rel="shortcut icon" href="/static/favicon.ico" type="image/x-icon" th:href="@{/favicon.ico}" media="screen">
    <link rel="icon" href="/static/favicon.ico" type="image/x-icon" th:href="@{/favicon.ico}" media="screen"> -->

    <!-- local -->
    <link rel="stylesheet" type="text/css" media="screen" th:href="@{/util.css}" href="/static/util.css">

</head>

<body>
    <div id="demo">
        <center>
            <span style="font-size:30px;cursor:pointer;color:white;" onclick="openNav()">&#9776;</span>
        </center>
    </div>
    <div class="sidenav"></div>
    <!--menu sendo gerado pelo js-->

    <!-- .......Fim menu.......................-->

    <div class="conteudo">
        <br>
        <br>
        <h1 class="teste">Listar Produtos</h1>
        <button type="button" class="btn btn-primary" onclick="abrirModalAdicionar()">Adicionar</button>

        <table id="datatable" class="table" style="width:100%; margin-top:1%;">
            <thead class="thead-dark">
                <tr>
                    <th></th>
                    <th>Name</th>
                    <th>Preço</th>
                    <th>Marca</th>
                    <th>Estoque</th>
                    <th>Desconto</th>
                    <th>Opções</th>
                </tr>
            </thead>
            <tbody id="table-produtos" class="table-produtos">
            </tbody>
        </table>

    </div>

    <!--modal ver detalhes-->
    <div class="modal fade" role="dialog" id="detalhes">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title"></h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">

                    <!--Imagens do produto-->
                    <center>
                        <div id="carouselExampleControls" class="col-md-6 carousel slide" data-ride="carousel">
                            <div class="carousel-inner">

                            </div>
                            <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
                                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                <span class="sr-only">Previous</span>
                            </a>
                            <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
                                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                <span class="sr-only">Next</span>
                            </a>
                        </div>
                    </center>
                    <hr/>


                    <center>
                        <span>
                            <strong>INFORMAÇÕES DO PRODUTO</strong>
                        </span>
                        <input type="text" class="idProduto" hidden>
                    </center>
                    <br>
                    <div class="row">

                        <div class="col-md-4">
                            <label for="nome do produto">Nome</label>
                            <input type="text" class="form-control nome">
                        </div>
                        <div class="col-md-4">
                            <label for="marca">Marca</label>
                            <input type="text" class="form-control marca">
                        </div>
                        <div class="col-md-4">
                            <label for="idade indicativa">Idade</label>
                            <input type="text" class="form-control idade">
                        </div>
                    </div>
                    <!--row-->

                    <br/>
                    <div class="row">
                        <div class="col-md-4">
                            <label for="preço">Preço</label>
                            <input type="text" class="form-control preco">
                        </div>
                        <div class="col-md-4">
                            <label for="quantidade no estoque">Estoque</label>
                            <input type="text" class="form-control estoque">
                        </div>
                        <div class="col-md-4">
                            <label for="valor de desconto">Desconto</label>
                            <input type="text" class="form-control desconto">
                        </div>
                    </div>
                    <!--row-->

                    <br/>
                    <div class="row">
                        <div class="container">
                            <nav>
                                <div class="nav nav-tabs" id="nav-tab" role="tablist">
                                    <a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab" href="#descricao" role="tab" aria-controls="nav-home"
                                        aria-selected="true">Descrição</a>
                                    <a class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab" href="#caracteristicas" role="tab" aria-controls="nav-profile"
                                        aria-selected="false">Caracteristicas</a>

                                </div>
                            </nav>
                            <div class="tab-content" id="nav-tabContent">
                                <div class="tab-pane fade show active" id="descricao" role="tabpanel" aria-labelledby="nav-home-tab">
                                    <div>
                                        <br/>
                                        <textarea class="form-control descricao" id="exampleFormControlTextarea1" rows="3"></textarea>
                                    </div>
                                </div>
                                <div class="tab-pane fade" id="caracteristicas" role="tabpanel" aria-labelledby="nav-profile-tab">
                                    <div>
                                        <br/>
                                        <textarea class="form-control caracteristicas" id="exampleFormControlTextarea1" rows="3"></textarea>
                                    </div>
                                </div>

                            </div>
                            <!--tab-content-->
                        </div>
                        <!--container-->
                    </div>
                    <!--row-->
                </div>
                <div class="modal-footer">
                    <button type="button" aria-label="Cancelar" class="btn btn-outline-dark" data-dismiss="modal">Cancelar</button>
                    <button type="button" class="btn btn-warning btnEditar" onclick="editar()">Editar</button>
                    <button type="button" class="btn btn-primary btnAtualizar" onclick="atualizar()">Atualizar</button>
                </div>
            </div>
        </div>
    </div>


    <!--modal adicionar novo produto-->
    <div class="modal fade" role="dialog" id="adicionar">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Adicionar novo produto</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <!--modal-header-->

                <div class="modal-body">
                    <br />
                    <div class="row">
                        <div class="container">
                            <nav>
                                <div class="nav nav-tabs" id="nav-tab" role="tablist">
                                    <a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab" href="#geral" role="tab" aria-controls="nav-home"
                                        aria-selected="true">Geral</a>

                                    <a class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab" href="#imagens" role="tab" aria-controls="nav-profile"
                                        aria-selected="false">Imagens</a>
                                </div>
                                <!--nav nav-tabs-->
                            </nav>

                            <div class="tab-content" id="nav-tabContent">

                                <div class="tab-pane fade show active" id="geral" role="tabpanel" aria-labelledby="nav-home-tab">
                                    <div>
                                        <br/>

                                        <div class="row">
                                            <div class="col-md-4">
                                                <label for="nome do produto">Nome</label>
                                                <input type="text" class="form-control nome">
                                            </div>
                                            <div class="col-md-4">
                                                <label for="marca">Marca</label>
                                                <input type="text" class="form-control marca">
                                            </div>
                                            <div class="col-md-4">
                                                <label for="idade indicativa">Idade</label>
                                                <input type="text" class="form-control idade">
                                            </div>
                                        </div>
                                        <!--row-->
                                        <br/>

                                        <div class="row">
                                            <div class="col-md-4">
                                                <label for="preço">Preço</label>
                                                <input type="text" class="form-control precoA">
                                            </div>
                                            <div class="col-md-4">
                                                <label for="quantidade no estoque">Estoque</label>
                                                <input type="text" class="form-control estoqueA">
                                            </div>
                                            <div class="col-md-4">
                                                <label for="valor de desconto">Desconto</label>
                                                <input type="text" class="form-control descontoA">
                                            </div>
                                        </div>
                                        <!--row-->

                                        <div class="row">
                                            <div class="container">
                                                <br/>
                                                <label for="valor de desconto">Descrição</label>
                                                <textarea class="form-control descricao" id="exampleFormControlTextarea1" rows="3"></textarea>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="container">
                                                <br/>
                                                <label for="valor de desconto">Caracteristicas</label>
                                                <textarea class="form-control caracteristicas" id="exampleFormControlTextarea1" rows="3"></textarea>
                                            </div>
                                        </div>



                                    </div>
                                </div>
                                <!--geral-->

                                <div class="tab-pane fade" id="imagens" role="tabpanel" aria-labelledby="nav-profile-tab">
                                    <div>
                                        <br/>

                                        <div class="container">
                                            <div class="row addImagem">
                                                <div class="row">
                                                    <div class="col-md-6">
                                                        <label for="url">Url</label>
                                                        <input type="text" class="form-control url">
                                                    </div>
                                                    <div class="col-md-6">
                                                        <label for="quantidade no alt">Alt</label>
                                                        <input type="text" class="form-control alt">
                                                    </div>
                                                </div>
                                                <!--row-->
                                            </div>
                                            <!--row-->
                                        </div>
                                        <!--container-->

                                        <div class="col-md-2">
                                            <br/>
                                            <button type="button" class="btn btn-primary" onclick="addImagem()">Imagem++</button>
                                        </div>

                                    </div>
                                </div>
                                <!--imagens-->

                            </div>
                            <!--tab-content-->
                        </div>
                        <!--container-->
                    </div>
                    <!--row-->
                </div>
                <!--modal-body-->

                <div class="modal-footer">
                    <button type="button" aria-label="Cancelar" class="btn btn-outline-dark" data-dismiss="modal">Cancelar</button>
                    <button type="button" class="btn btn-success" onclick="salvar()">Salvar</button>
                </div>
                <!--modal-footer-->

            </div>
            <!--modal-content-->
        </div>
        <!--modal-dialog modal-lg-->
    </div>
    <!--modal fade-->


    <!-- bootstrap -->
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
        crossorigin="anonymous"></script>

    <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>-->

    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>

    <!-- local -->
    <script th:inline="javascript" media="screen" href="/static/util.js" th:src="@{/util.js}"></script>
    <script th:inline="javascript" media="screen" href="/static/produto.js" th:src="@{/produto.js}"></script>

</body>

</html>