<!DOCTYPE html>
<html>

    <head>
        <meta charset="UTF-8">
        <title>Relatório Vendas</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
              crossorigin="anonymous"> 

        <link rel="shortcut icon" href="/static/favicon.ico" type="image/x-icon">
        <link rel="icon" href="/static/favicon.ico" type="image/x-icon">
        <link rel="stylesheet" type="text/css" media="screen" th:href="@{/util.css}" href="/static/util.css">

    </head>

    <body>
        <div id="demo">
            <center>
                <span style="font-size:30px;cursor:pointer;color:white;" onclick="openNav()">&#9776;</span>
            </center>
        </div>
        <div class="sidenav"></div>
        <!--menu sendo gerado pelo js-->

        <!-- .......Fim menu.......................-->

       <div class="conteudo">
            <div class="container" id="topo">
                <br>
                <br>
                <div class="row">
                    <div class="col-6">
                        <h1>Relatório de Vendas</h1>
                    </div>
                </div>

                <div class="row">
                    <div class="col-12">
                        <table class="table table-responsive">
                            <thead>
                                <tr>
                                    <th>Cód</th>
                                    <th>Protocolo</th>
                                    <th>Cliente</th>
                                    <th>Produtos</th>
                                    <th>Tipo Pag.</th>
                                    <th>Valor Total</th>
                                    <th>Status</th>
                                </tr>
                            </thead>
                            <tbody id="bodyTable">
                                <tr th:each="pedido : ${pedidos}">
                                    <td>
                                        <span th:text="${pedido.idPedido}"></span>
                                    </td>
                                    <td>
                                        <span th:text="${pedido.protocolo}"></span>
                                    </td>
                                    <td>
                                        <span th:text="${pedido.idCliente}"></span>
                                    </td>
                                    <td>
                                        <span th:text="${pedido.idProduto}"></span>
                                    </td>
                                    <td>
                                        <span th:text="${pedido.tipoPagamento}"></span>
                                    </td>
                                    <td>
                                        <span th:text="${pedido.valorTotal}"></span>
                                    </td>
                                    <td>
                                        <span th:text="${pedido.status}"></span>
                                    </td>                                    
                            </tbody>
                        </table>
                    </div>
                </div>                
            </div>           
        </div>

        <script src="https://code.jquery.com/jquery-3.3.1.min.js" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
        crossorigin="anonymous"></script>

        <script th:inline="javascript" media="screen" href="/static/util.js" th:src="@{/util.js}"></script>

    </body>

</html>